/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --l: 3;
}

/* Game Page */

.game-page , .home-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(132, 73, 234), #79787b);
  flex-direction: column-reverse;
  gap: 20px;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(var(--l), 1fr);
    grid-template-rows: repeat(var(--l), 1fr);
    gap: 10px;
    width: 90vmin;
    height: 85vmin;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 25px 45px rgba(5, 20, 229, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
}

.game-grid .cell{
    background-color: #fff;
    transform: rotateY(180deg);
}

.cell{
  position: relative;
  box-sizing: inherit;
  transition: 1s;
  transform-style: preserve-3d;
  animation: rotFirstinit 3s linear 1;
}

.cell img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
}

.cell div{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotateY(180deg);
}
.cell.open{
  transform: rotateY(0deg);
}

.info{
  width: 90vmin;
}

.info .game-move{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info .game-move .screen1{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 25px 45px rgba(5, 20, 229, 0.1);
  backdrop-filter: blur(10px);
  padding: 9px;
  color: white;
  border-radius: 15px;
  font-size: larger;
}

.info .game-move .screen2{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 25px 45px rgba(5, 20, 229, 0.1);
  backdrop-filter: blur(10px);
  padding: 9px;
  color: white;
  border-radius: 15px;
  font-size: larger;
}

@keyframes rotFirstinit{
  0%,80%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(180deg);
  }
}


.hide{
  display: none;
}
.home-grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 25px 45px rgba(5, 20, 229, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
}
.home-grid-item h1{
  font-size: 2em;
}

.level{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vmax;

}
.level div{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.level div input[type="radio"]{
  display: none;
}
.level div input[type="radio"] + label{
  display: inline-block;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 0.5rem;
  background: #000;
  width: 100%;
  text-align: center;
}

.level div input[type="radio"]:checked + label{
  background: #fff;
  color: #000;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.start-btn{
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1rem;
  border: none;
  transition: 300ms;
}
.start-btn:focus{
  transform: scale(0.8);
}
.start-btn:hover{
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}