/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --l: 3;
}

/* Game Page */

.game-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(132, 73, 234), #79787b);
}

.game-grid{

    display: grid;
    grid-template-columns: repeat(var(--l), 1fr);
    grid-template-rows: repeat(var(--l), 1fr);
    gap: 20px;
    width: 90vmin;
    height: 95vmin;
    /* glassmorphism background */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 25px 45px rgba(5, 20, 229, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
}

.game-grid .cell{
    background-color: #fff;
    perspective: 900px;
    transform: rotateY(180deg);

}

.cell{
  position: relative;
  box-sizing: inherit;
  transition: 1s;
  transform-style: preserve-3d;
}

.cell img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
}

.cell div{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotateY(180deg);
}
.cell.open{
  transform: rotateY(0deg);
}